* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f3f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 15%;
    border: 1px solid;
}

.buttons-container > div{
    display: flex;
}

button {
    width: 33%;
    height: 43px;
    cursor: pointer;
    user-select: none;
}

input {
    width: 100%;
    height: 70px;
    padding: 0px 5px;
    text-align: right;
    font-size: 22px;
}