:root {
  --bg-clr: white;
}
*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

body{
    font-family: "Lexend Deca", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f1f1f191;
}

.calculator {
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 10px 10px -6px, rgba(14, 63, 126, 0.04) 0px 4px 4px -6px;
    background-color: #fff;
}

.buttons-container > div{
    display: flex;
}

button {
    width: 34%;
    height: 3.438rem;
    cursor: pointer;
    user-select: none;
    border: none;
    background-color: var(--bg-clr);
    border-radius: 0.625rem;
    font-weight: 200;
}

button:hover {
    background-color: #f2f2f2;
}

button:active {
    background-color: var(--bg-clr);
}

.display {
    width: 100%;
    min-height: 6.25rem;
    padding: 0.313rem;
    font-size: 1.813rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    word-break: break-all;
    word-wrap: break-word;
    background-color: var(--bg-clr);
    font-family: 'Courier New', Courier, monospace;
}

.decimal {
    font-size: 1.125rem;
}

.operator {
    font-size: 1.5rem;
}

.equal{
    background-color: rgba(51, 255, 0, 0.548);
    font-size: 1.563rem;
}
.equal:hover {
    background-color: rgba(51, 255, 0, 0.726);
}
.equal:active {
    background-color: rgba(51, 255, 0, 0.426);
}

.operator {
    color: rgba(255, 0, 255, 0.726);
}

.clear,.backspace {
    color: rgba(255, 0, 0, 0.904);
}

.equal svg {
    height: 1.25rem;
    width: 1.25rem;
    margin: 0px auto;
}