body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    user-select: none;
}

.calculator {
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.275);
    padding: 20px;
    border-radius: 12px;
}

.display {
    width: 100%;
    height: 100px;
    background-color: #ffffff; 
    border: none;
    color: #000;
    text-align: right;
    padding: 0 15px;
    font-size: 2.5em;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 18%;
    cursor: pointer;
    transition: background-color 0.15s;
}

.btn:active {
    background-color: #dddede !important;;
}

.number {
    background-color: #fff;
    color: #000;
    font-weight: 300;
    font-size: 25px;
}

.number:hover {
    background-color: #f3f2f2af;
}

.operator,
.delete {
    background-color: #fff;
    color: #1ce21c;
}

.operator:hover,
.delete:hover {
    background-color: #f0f0f0;
}

.clear {
    background-color: #fff;
    color: #e12020;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}

.clear:hover {
    background-color: #f0f0f0;
}

.equal {
    background-color: #2ec12eb7;
    color: #fff;
    font-size: 2rem;
    border-radius: 12px;
}

.equal:hover {
    background-color: #049c04;
}
